<div class="g43menu top" style="overflow: inherit; z-index: 3;">
    <a class="item opener restaurants">
        <i class="bars icon"></i>
    </a>
    <a *ngIf="authService.user$ | async" class="item opener options">
        <i class=" sliders horizontal icon"></i>
    </a>
    <div class="item">
        <div [class.inverted]="appService.getConfig('inverted')"
             class="ui icon input {{appService.getConfig('selectedColor')}}">
            <input [(ngModel)]="searchKey" placeholder="{{'search' | translate}}" type="text">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="divider"></div>
    <a *ngIf="!authService.isLoading"
       (click)="profileMenu.close(); openHighlighter = !openHighlighter"
       class="item">
        {{'categories' | translate}}
    </a>
    <div class="item">
        <div *ngIf="authService.isLoading" class="ui active centered inline loader"></div>
        <fds-profile-menu #profileMenu
                          [class.hidden]="authService.isLoading"
                          (onOpen)="openHighlighter=false"></fds-profile-menu>
    </div>
</div>
