.daily-menu.row {
    .helper {
        display: inline-block;
        cursor: pointer;
        margin-left: 1em;
    }
    //&:hover {
    //    .helper {
    //        display: inline-block;
    //    }
    //}
}
