$panel-width: 450px;
* {
    padding: 0;
    margin: 0;
}
#sideNav {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s all;
    height: 100%;
    resize: vertical;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    .content {
        z-index: 100;
        max-width: $panel-width;
        transition: 0.3s all;
        min-width: 200px; // temporary
        overflow-y: auto;
        height: 100%;
    }
    .opener {
        z-index: 50;
        position: absolute;
        cursor: pointer;
        box-sizing: border-box;
        padding: 0 10px;
        font-size: 20px;
        left: 100%;
        top: 0;
        background: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 0 5px 5px 0;

        .controll {
            position: relative;
            min-width: 60px;
            height: 40px;
            line-height: 40px;
            text-align: center;

        }
    }
    &.hidden {
        transform: translate(-100%);
    }
}
