* {
    padding: 0;
    margin: 0;
}

.pt-10 {
    padding-top: 10px;
}
.p-10 {
    padding: 10px;
}
.mt-20 {
    margin-top: 20px;
}

.flex-divider {
    flex: 1 1 auto;
}

.hidden {
    display: none !important;
}

.full-width {
    width: 100%;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}
