<div *ngIf="restaurant.visible">
    <fds-restaurant-title [restaurant]="restaurant"></fds-restaurant-title>
    <table [class.inverted]="appService.getConfig('inverted')"
           class="ui celled table {{appService.getConfig('selectedColor')}} foodTable">
        <tbody>

        <ng-container *ngIf="!dailyMenus[restaurant.key]; else: isLoaded">
            <tr>
                <td>
                    <div class="ui active centered inline text loader">Loading</div>
                </td>
            </tr>
        </ng-container>
        <ng-template #isLoaded>
            <ng-template [ngIfElse]="noMenus" [ngIf]="dailyMenus[restaurant.key].length > 0">
                <ng-container *ngFor="let dish of dailyMenus[restaurant.key] | searchFoodPipe: searchKey">
                    <fds-food-row [dish]="dish"
                                  [highlight]="highlight"
                                  [restaurant]="restaurant"></fds-food-row>
                </ng-container>
            </ng-template>
            <ng-template #noMenus>
                <tr>
                    <td colspan="2">{{'noPublicMenu' | translate}}</td>
                </tr>
            </ng-template>
        </ng-template>
        </tbody>
    </table>
</div>
