* {
    padding: 0;
    margin: 0;
}

h2 {
    padding-top: 0.3em;
}

h4, h2, h5 {
    text-align: center
}

.flex-divider {
    flex: 1 1 auto;
}

.restaurant-selector-wrapper {
    display: flex;
    padding: 0.3em;
    box-sizing: border-box;
    justify-content: space-around;

    .example-container {
        width: auto;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        padding-bottom: 20px;
        max-width: 50%;
        min-width: 48%;

        .example-list {
            border: solid 1px #ccc;
            min-height: 50px;
            background: white;
            border-radius: 4px;
            overflow: hidden;
            display: block;
            max-height: calc(100vh - 135px);
            overflow-y: auto;

            .example-box {
                padding: .8em .5em;
                border-bottom: solid 1px #ccc;
                color: rgba(0, 0, 0, 0.87);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                box-sizing: border-box;
                //cursor: move;
                background: white;
                font-size: 14px;

                &:last-child {
                    border: none;
                }
            }

            &.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
                transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
            }

        }
    }

}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0.2;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
