<h2 [class.inverted]="appService.getConfig('inverted')"
    class="ui {{appService.getConfig('selectedColor')}} header">{{'restaurantSelection.title' | translate}}</h2>
<h5 *ngIf="!(authService.user$ | async)">{{'restaurantSelection.needLoginForPersistence' | translate}}</h5>
<div class="restaurant-selector-wrapper">
    <div class="example-container">
        <h4 [class.inverted]="appService.getConfig('inverted')"
            class="ui {{appService.getConfig('selectedColor')}} header">{{'restaurantSelection.all' | translate}}</h4>

        <div class="field">
            <div [class.inverted]="appService.getConfig('inverted')"
                 class="ui mini icon input"
                 style="width: 100%">
                <input [(ngModel)]="searchKey"
                       placeholder="{{'search' | translate}}"
                       style="height: 42px;" type="text">
                <i class="search icon"></i>
            </div>
        </div>
        <div
            #todoList="cdkDropList"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListConnectedTo]="[doneList]"
            [cdkDropListData]="restaurants"
            cdkDropList
            cdkDropListSortingDisabled
            class="example-list">
            <div *ngFor="let restaurant of restaurants | searchRestaurantPipe: searchKey"
                 cdkDrag
                 cdkDragBoundary=".restaurant-selector-wrapper"
                 class="example-box">

                <i cdkDragHandle class="arrows alternate icon" style="cursor: move; margin-right: .6em;"></i>
                {{restaurant.name}}
                <div class="flex-divider"></div>
                <!--    <i *ngIf="!restaurant.hasActualMenu" title="Menu nie momentálne k dispozícií" class="exclamation icon"></i>-->
                <i *ngIf="restaurant.menuLink" style="cursor:help" class="frown outline icon" title="{{'restaurantSelection.onlyIframe' | translate}}"></i>
                <i *ngIf="restaurant.coordinates" style="cursor:help" class="map icon" title="{{'restaurantSelection.hasCoordinates' | translate}}"></i>
<!--                {{ratingService.getLikesFor(restaurant)}}<i style="cursor:help" class="heart icon" ></i>-->

            </div>
        </div>
    </div>

    <div class="example-container">
        <h4 [class.inverted]="appService.getConfig('inverted')"
            class="ui {{appService.getConfig('selectedColor')}} header">{{'restaurantSelection.selected' | translate}}</h4>


        <div #doneList="cdkDropList"
             (cdkDropListDropped)="drop($event)"
             [cdkDropListConnectedTo]="[todoList]"
             [cdkDropListData]="selectedRestaurants"
             cdkDropList
             class="example-list"
             style="max-height: calc(100vh - 94px);">
            <div *ngIf="selectedRestaurants.length === 0" style="padding: .8em .5em;">
                {{'restaurantSelection.chooseRestaurants' | translate}}
            </div>
            <div *ngFor="let restaurant of selectedRestaurants"
                 cdkDrag
                 cdkDragBoundary=".restaurant-selector-wrapper"
                 class="example-box">
                <i cdkDragHandle class="arrows alternate icon" style="cursor: move; margin-right: .6em;"></i>
                {{restaurant.name}}
                <div class="flex-divider"></div>
                <!--    <i *ngIf="!restaurant.hasActualMenu" title="Menu nie momentálne k dispozícií" class="exclamation icon"></i>-->
                <i *ngIf="restaurant.menuLink" class="frown outline icon" style="cursor:help" title="{{'restaurantSelection.onlyIframe' | translate}}"></i>
                <i *ngIf="restaurant.coordinates" class="map icon" style="cursor:help" title="{{'restaurantSelection.hasCoordinates' | translate}}"></i>
            </div>
        </div>
    </div>
</div>
