<div class="main ui intro container" style="margin-top:50px">
	<h3>Journal</h3>
	<table class="ui celled table">
		<tbody>
			<tr *ngFor="let menu of journalDishes">
				<td>
					<div [ngClass]="{'ui': isBold(menu.dish.name), 'ribbon': isBold(menu.dish.name), 'label': isBold(menu.dish.name)}">{{menu.dish.name}}</div>
				</td>
				<td>{{menu.dish.price}}</td>
			</tr>
		</tbody>
	</table>

	<h3>Astra</h3>
	<table class="ui celled table">
		<tbody>
			<tr *ngFor="let menu of astraDishes">
				<td>
					<div [ngClass]="{'ui': isBold(menu.dish.name), 'ribbon': isBold(menu.dish.name), 'label': isBold(menu.dish.name)}">{{menu.dish.name}}</div>
				</td>
				<td>{{menu.dish.price}}</td>
			</tr>
		</tbody>
	</table>
	<h3>Delfin</h3>
	<table class="ui celled table">
		<tbody>
			<tr *ngFor="let menu of delfinDishes">
				<td>
					<div [ngClass]="{'ui': isBold(menu.dish.name), 'ribbon': isBold(menu.dish.name), 'label': isBold(menu.dish.name)}">{{menu.dish.name}}</div>
				</td>
				<td>{{menu.dish.price}}</td>
			</tr>
		</tbody>
	</table>

	<h3>presto</h3>
	<iframe id="prestoRest" src="http://www.restaurantpresto.sk/sk/menu/presto-bbc-i/7.7.2017/"></iframe>
	<h3>bigger</h3>
	<iframe id="prestoRest" src="http://bigger.sk/menu/"></iframe>
</div>
