<div *ngIf="authService.user$ | async; else notLoggedIn" style="padding: 10px;">
    <div class="button {{appService.getConfig('selectedColor')}}">
        <label for="appColor"
               style="font-weight: bolder; font-size: 14px; padding:10px">{{'options.color' | translate}}</label>
        <select class="ui dropdown selected-color"
                id="appColor">
            <option class="item" value="none">{{'options.noColor' | translate}}</option>
            <option *ngFor="let color of allowedColors"
                    class="item"
                    selected="{{color === appService.getConfig('selectedColor') ? 'selected' : ''}}"
                    value="{{color}}">
                <a class="ui {{color}} empty circular label"></a>
                {{color}}
            </option>
        </select>
    </div>
    <div class="ui {{appService.getConfig('inverted') && 'checked'}} checkbox" style="padding-top: 10px;">
        <input id="optionInverted" [(ngModel)]="appService.inverted" checked="" type="checkbox">
        <label for="optionInverted">{{'options.invertColors' | translate}}</label>
    </div>
    <br>
    <div class="ui {{appService.getConfig('allowIFrames') && 'checked'}} checkbox" style="padding-top: 10px;">
        <input id="optionAllowIFrames" [(ngModel)]="appService.allowIFrames" checked="" type="checkbox">
        <label for="optionAllowIFrames">{{'options.allowIFrames' | translate}}</label>
    </div>
    <br>
    <div class="ui {{appService.getConfig('showDistance') && 'checked'}} checkbox" style="padding-top: 10px;">
        <input id="optionShowDistance" [(ngModel)]="appService.showDistance" checked="" type="checkbox">
        <label for="optionShowDistance">{{'options.showDistance' | translate}}</label>
    </div>
    <br>
    <div class="ui {{appService.showPrice && 'checked'}} checkbox" style="padding-top: 10px;">
        <input id="optionShowPrice"[(ngModel)]="appService.showPrice" checked="" type="checkbox">
        <label for="optionShowPrice">{{'options.showPrice' | translate}}</label>
    </div>
    <br>
    <div class="ui {{appService.getConfig('showWeight') && 'checked'}} checkbox" style="padding-top: 10px;">
        <input id="optionShowWeight" [(ngModel)]="appService.showWeight" checked="" type="checkbox">
        <label for="optionShowWeight">{{'options.showWeight' | translate}}</label>
    </div>
    <div style="padding-top: 10px">
        <button (click)="resetRestaurants()"
                [class.inverted]="appService.getConfig('inverted')"
                class="ui tiny button {{appService.getConfig('selectedColor')}}">
            {{'options.resetRestaurants' | translate}}
        </button>
        <button (click)="resetOptions()"
                [class.inverted]="appService.getConfig('inverted')"
                class="ui tiny button {{appService.getConfig('selectedColor')}}">
            {{'options.resetSettings' | translate}}

        </button>
    </div>
</div>

<ng-template #notLoggedIn>
    <h4 style="padding: .3em">{{'options.loginNotification' | translate}}</h4>
</ng-template>
