<div *ngIf="authService.user$ | async; else notLoggedIn" style="padding: 10px;">
    <div class="button {{appService.getConfig('selectedColor')}}">
        <label for="appColor" style="font-weight: bolder; font-size: 14px; padding:10px">Farba</label>
        <select id="appColor"
                class="ui dropdown">
            <option value="none" class="item">Žiadna farba</option>
            <option *ngFor="let color of allowedColors"
                    class="item"
                    selected="{{color === appService.getConfig('selectedColor') ? 'selected' : ''}}"
                    value="{{color}}">
                <a class="ui {{color}} empty circular label"></a>
                {{color}}
            </option>
        </select>
    </div>
    <div class="ui {{appService.getConfig('inverted') && 'checked'}} checkbox" style="padding-top: 10px;">
        <input type="checkbox" checked="" [(ngModel)]="appService.inverted">
        <label>Invertovať farby</label>
    </div>
    <br>
    <div class="ui {{appService.getConfig('allowIFrames') && 'checked'}} checkbox" style="padding-top: 10px;">
        <input type="checkbox" checked="" [(ngModel)]="appService.allowIFrames">
        <label>Povoliť IFramy</label>
    </div>
    <br>
    <div class="ui {{appService.getConfig('showDistance') && 'checked'}} checkbox" style="padding-top: 10px;">
        <input type="checkbox" checked="" [(ngModel)]="appService.showDistance">
        <label>Zobrazovať vzdialenosť</label>
    </div>
    <br>
    <div class="ui {{appService.showPrice && 'checked'}} checkbox" style="padding-top: 10px;">
        <input type="checkbox" checked="" [(ngModel)]="appService.showPrice">
        <label>Zobrazovať ceny</label>
    </div>
    <br>
    <div class="ui {{appService.getConfig('showWeight') && 'checked'}} checkbox" style="padding-top: 10px;">
        <input type="checkbox" checked="" [(ngModel)]="appService.showWeight">
        <label>Zobrazovať hmotnosti</label>
    </div>
    <div style="padding-top: 10px">
        <button class="ui tiny button {{appService.getConfig('selectedColor')}}"
                (click)="resetRestaurants()"
                [ngClass]="{'inverted': appService.getConfig('inverted')}">
            Obnoviť reštaurácie
        </button>
        <button class="ui tiny button {{appService.getConfig('selectedColor')}}"
                (click)="resetOptions()"
                [ngClass]="{'inverted': appService.getConfig('inverted')}">
            Obnoviť nastavenia
        </button>
    </div>
</div>

<ng-template #notLoggedIn>
    <h4 style="padding: .3em">Pre konfiguráciu stránky musíte byť prihlásený</h4>
</ng-template>
