<div style="padding: 10px;">
    <div class="button {{appService.selectedColor}}">
    <label for="appColor" style="font-weight: bolder; font-size: 14px; padding:10px">Farba</label>
    <select id="appColor"
            class="ui dropdown">
        <option value="none" class="item">Žiadna farba</option>
        <option *ngFor="let color of allowedColors" class="item"
                selected="{{color === appService.selectedColor ? 'selected' : ''}}"
                value="{{color}}">
            <a class="ui {{color}} empty circular label"></a>
            {{color}}
        </option>
    </select>
</div>
    <div class="ui {{appService.inverted && 'checked'}} checkbox" style="padding-top: 10px;">
        <input type="checkbox" checked="" [(ngModel)]="appService.inverted">
    <label>Invertovať farby</label>
</div>
    <div style="padding-top: 10px">
        <button class="ui tiny button {{appService.selectedColor}}"
                (click)="resetRestaurants()"
                [ngClass]="{'inverted': appService.inverted}">
            Obnoviť reštaurácie
        </button>
        <button class="ui tiny button {{appService.selectedColor}}"
                (click)="resetOptions()"
                [ngClass]="{'inverted': appService.inverted}">
            Obnoviť nastavenia
        </button>
    </div>

</div>
