<div *ngIf="restaurant.visible">
    <h3 class="ui {{appService.selectedColor}} header"
        [ngClass]="{'inverted': appService.inverted}">{{restaurant.name}}</h3>
    <table class="ui celled table {{appService.selectedColor}} foodTable"
           #restaurantTable
           (click)="showImage(restaurantTable.getAttribute('title'), restaurantTable.getAttribute('class'));"
           [ngClass]="{'inverted': appService.inverted}">
        <tbody>
            <tr *ngIf="!dailyMenus[restaurant.key] || dailyMenus[restaurant.key].length === 0">
                <td colspan="2">Neboli nájdené žiadne výsledky</td>
            </tr>
            <ng-container *ngIf="dailyMenus[restaurant.key] && dailyMenus[restaurant.key].length > 0">
                <ng-container *ngFor="let dish of dailyMenus[restaurant.key] | searchFoodPipe: searchKey">
                    <tr *ngIf="dish !== null" [ngClass]="{positive: isHighlighted(dish.name)}">
                        <td>
                            <div [ngClass]="{'ui ribbon label': isBold(dish.name)}"
                                 class="daily-menu row {{appService.inverted || appService.selectedColor}}">
                                <span #dailyMenu
                                      [ngClass]="{highlighted: isHighlighted(dish.name)}"
                                      [innerHTML]="showImages(dish.name)"></span>
                                <span (click)="openImages(dailyMenu)"
                                      class="helper"
                                      title="Obrázok">?</span>
                            </div>
                        </td>
                        <td>{{dish.price}}</td>
                    </tr>
                    <tr *ngIf="dish === null">
                        <td colspan="2">Filtru nevyhovujú žiadne výsledky</td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>

</div>
