
.highlighted {
    background-color: aquamarine;
}


.daily-menu.row {
    .helper {
        display: none;
        cursor: pointer;
        margin-left: 1em;
    }
    &:hover {
        .helper {
            display: inline-block;
        }
    }
}
