<div *ngIf="restaurant.visible">
    <h3 class="ui {{appService.getConfig('selectedColor')}} header"
        [ngClass]="{'inverted': appService.getConfig('inverted')}">{{restaurant.name}}
        <small
            *ngIf="appService.getConfig('showDistance') && restaurant.coordinates && (getLocationService.coordinates | async) as myCoords"
            style="font-size: x-small;">
            {{getLocationService.distance(restaurant.coordinates, myCoords)?.toFixed(3) + " km od vás"}}
        </small>
        <i *ngIf="restaurant.coordinates"
           class="map icon"
           (click)="showMap(restaurant)"
           style="display: inline-block; margin-left: 0.2em; cursor: pointer"></i>
    </h3>


    <table class="ui celled table {{appService.getConfig('selectedColor')}} foodTable"
           #restaurantTable
           (click)="showImage(restaurantTable.getAttribute('title'), restaurantTable.getAttribute('class'));"
           [ngClass]="{'inverted': appService.getConfig('inverted')}">
        <tbody>
        <ng-template [ngIf]="dailyMenus[restaurant.key] && dailyMenus[restaurant.key].length > 0" [ngIfElse]="noMenus">
            <ng-container *ngFor="let dish of dailyMenus[restaurant.key] | searchFoodPipe: searchKey">
                <app-food-row style="display: contents" [highlight]="highlight" [dish]="dish"
                              [restaurant]="restaurant"></app-food-row>
            </ng-container>
        </ng-template>
        <ng-template #noMenus>
            <tr>
                <td colspan="2">Obedové menu nebolo zverejnené</td>
            </tr>
        </ng-template>
        </tbody>
    </table>

</div>
