
.highlighted {
    background-color: aquamarine;
}


.daily-menu.row {
    .helper {
        display: inline-block;
        cursor: pointer;
        margin-left: 1em;
    }
    //&:hover {
    //    .helper {
    //        display: inline-block;
    //    }
    //}

}

.thumbs.icon {
    margin: 0 0.5em;
    cursor: pointer;
}
