<div *ngIf="restaurant" class="example-box">

    <i cdkDragHandle class="arrows alternate icon"></i>
    {{restaurant.name}}
    <div class="flex-divider"></div>
    <!--    <i *ngIf="!restaurant.hasActualMenu" title="Menu nie momentálne k dispozícií" class="exclamation icon"></i>-->
    <i *ngIf="!restaurant.zomatoId" class="frown outline icon help-able"
       title="{{'restaurantSelection.onlyIframe' | translate}}"></i>
    <i *ngIf="restaurant.address" class="map icon help-able"
       title="{{'restaurantSelection.hasCoordinates' | translate}}"></i>
    <!--                {{ratingService.getLikesFor(restaurant)}}<i style="cursor:help" class="heart icon" ></i>-->
</div>
