<label *ngIf="label" for="{{id}}">{{label}}</label>
<input #inputElement
       id="{{id}}"
       type="text"
       [placeholder]="placeholder || label"
       [style.padding-left.px]="icon && iconAlign === 'left' ? iconWidth : 10"
       [style.padding-right.px]="icon && iconAlign === 'right' ? iconWidth : 10"
       [style.width]="fullWidth ? '100%' : 'auto'"
       (input)="onChange(inputElement.value)">

<i *ngIf="icon"
   [style.width.px]="iconWidth"
   [style.left]="iconAlign === 'left' ? '0px' : 'inherit'"
   [style.right]="iconAlign === 'right' ? '0px' : 'inherit'"
   class="material-icons">{{icon}}</i>
