@import "variables";


label {
    cursor: pointer;
}
input {
    margin: 0;
    max-width: 100%;
    flex: 1 0 auto;
    outline: 0;
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba($primary-color,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;

    &::placeholder{
        color: rgba(0,0,0,.37);
    }

    &:active {
        border-color: rgba(0,0,0,.3);
        background: #fafafa;
        color: rgba(0,0,0,.87);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &:focus {
        border-color: $primary-color;
        background: #fff;
        color: rgba(0,0,0,.8);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &:disabled {
        opacity: .45;
    }
}


i {
    position: absolute;
    top: 0;
    line-height: 1;
    pointer-events: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,.37);
    transition: color 0.3s;
}

input:focus~i {
    color: rgba(0,0,0,.8);
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
    padding: .3em;
}


@media only screen and (max-width: $breakpoint-tablet) {
    input {
        padding: .37857143em .7em;
    }
}
