<div *ngIf="restaurant.visible">
    <app-restaurant-title [restaurant]="restaurant"></app-restaurant-title>
    <table class="ui celled table {{appService.getConfig('selectedColor')}} foodTable"
           #restaurantTable
           (click)="showImage(restaurantTable.getAttribute('title'), restaurantTable.getAttribute('class'));"
           [class.inverted]="appService.getConfig('inverted')">
        <tbody>
        <ng-template [ngIf]="dailyMenus[restaurant.key] && dailyMenus[restaurant.key].length > 0" [ngIfElse]="noMenus">
            <ng-container *ngFor="let dish of dailyMenus[restaurant.key] | searchFoodPipe: searchKey">
                <app-food-row style="display: contents" [highlight]="highlight" [dish]="dish"
                              [restaurant]="restaurant"></app-food-row>
            </ng-container>
        </ng-template>
        <ng-template #noMenus>
            <tr>
                <td colspan="2">Obedové menu nebolo zverejnené</td>
            </tr>
        </ng-template>
        </tbody>
    </table>

</div>
