<span>+{{ratingService.getLikes(dish, restaurant)}}</span>
<ng-container *ngIf="authService.user$ | async as user">
    <i (click)="ratingService.unlike(user, dish, restaurant)"
       *ngIf="ratingService.isLiked(user, dish, restaurant); else: dislikeIcon"
       class="thumbs down icon"
       title="{{'like.add' | translate}}"></i>
    <ng-template #dislikeIcon>
        <i (click)="ratingService.like(user, dish, restaurant)"
           class="thumbs up icon"
           title="{{'like.remove' | translate}}"></i>
    </ng-template>
</ng-container>
