<div class="main ui intro container" style="margin-top:50px">
    <h1 class="ui {{appService.selectedColor}} header"
        [ngClass]="{'inverted': appService.inverted}">Denné menu</h1>
    <app-page-nav-bar #pageNavBar></app-page-nav-bar>
    <div *ngIf="restaurants && restaurants.length > 0" id="foodContent">
        <div *ngFor="let restaurant of restaurants" style="margin-top: 20px;" class="{{counter}}">
            <app-restaurant-foods *ngIf="!restaurant.menuLink"
                                  [dailyMenus]="dailyMenus"
                                  [highlight]="pageNavBar.highlight"
                                  [searchKey]="pageNavBar.searchKey"
                                  [restaurant]="restaurant"></app-restaurant-foods>
            <div *ngIf="restaurant.menuLink">
                <h3>{{restaurant.name}}</h3>
                <iframe id="{{restaurant.key + 'Rest'}}" [src]="restaurant.menuLink | safe"></iframe>
            </div>

        </div>
    </div>
    <!--<app-restaurant-selector (restaurantsChange)="onRestaurantChanges($event)"></app-restaurant-selector>-->
    <app-side-nav></app-side-nav>
</div>
