<!--
<div class="main ui intro container" style="margin-top:50px">
<h1 class="ui {{appService.selectedColor}} header"
    [ngClass]="{'inverted': appService.inverted}">Denné menu</h1>
<app-page-nav-bar #pageNavBar></app-page-nav-bar>
<div *ngIf="restaurants && restaurants.length > 0" id="foodContent">
    <div *ngFor="let restaurant of restaurants" style="margin-top: 20px;" class="{{counter}}">
        <app-restaurant-foods *ngIf="!restaurant.menuLink"
                              [dailyMenus]="dailyMenus"
                              [highlight]="pageNavBar.highlight"
                              [searchKey]="pageNavBar.searchKey"
                              [restaurant]="restaurant"></app-restaurant-foods>
        <div *ngIf="restaurant.menuLink">
            <h3>{{restaurant.name}}</h3>
            <iframe id="{{restaurant.key + 'Rest'}}" [src]="restaurant.menuLink | safe"></iframe>
        </div>

    </div>
</div>
<app-side-nav (restaurantsChange)="onRestaurantChanges($event)"></app-side-nav>
</div>
-->
<div class="ui sidebar very wide vertical menu restaurants">
    <app-restaurant-selector (restaurantsChange)="onRestaurantChanges($event)"></app-restaurant-selector>
</div>
<div class="ui sidebar vertical menu options">
    <app-options >Nastavenia</app-options>
</div>
<div class="pusher" style="margin-top: 60px; padding: 40px">
    <h1 class="ui {{appService.selectedColor}} header"
        [ngClass]="{'inverted': appService.inverted}">Denné menu</h1>
    <div class="ui {{appService.selectedColor}} top fixed menu"
         [ngClass]="{'inverted': appService.inverted}">
        <a class="item opener restaurants">
            <i class="bars icon"></i>
        </a>
        <a class="item opener options">
            <i class=" sliders horizontal icon"></i>
        </a>
        <div class="item">
            <app-page-nav-bar #pageNavBar></app-page-nav-bar>
        </div>
    </div>
    <div *ngIf="restaurants && restaurants.length > 0" id="foodContent">
        <div *ngFor="let restaurant of restaurants" style="margin-top: 20px;" class="{{counter}}">
            <app-restaurant-foods *ngIf="!restaurant.menuLink"
                                  [dailyMenus]="dailyMenus"
                                  [highlight]="pageNavBar.highlight"
                                  [searchKey]="pageNavBar.searchKey"
                                  [restaurant]="restaurant"></app-restaurant-foods>
            <div *ngIf="restaurant.menuLink">
                <h3>{{restaurant.name}}</h3>
                <iframe id="{{restaurant.key + 'Rest'}}" [src]="restaurant.menuLink | safe"></iframe>
            </div>

        </div>
    </div>
</div>
