<div class="ui sidebar vertical menu restaurants"
     [class.wide]="wideNavigation"
     style="overflow-y: hidden !important;">
    <app-restaurant-selector (restaurantsChange)="appContent.onRestaurantChanges($event)"></app-restaurant-selector>
</div>
<div class="ui sidebar vertical menu options"
     [class.wide]="wideNavigation"
>
    <app-options>Nastavenia</app-options>
</div>

<div class="pusher" style="margin-top: 60px; padding: 40px">
    <app-top-menu #topMenu></app-top-menu>
    <app-highlight-selector #pageNavBar [openHighlighter]="topMenu.openHighlighter"></app-highlight-selector>
    <app-content #appContent [highlight]="pageNavBar.highlight" [searchKey]="topMenu.searchKey"></app-content>
</div>

<div class="ui modal maps">
    <iframe frameborder="0"
            class="map"
            width="100%"
            height="100%"
            style="border:0"
            allowfullscreen></iframe>
</div>
