<div class="main ui intro container" style="margin-top:50px">
    <div class="ui form">
        <div class="inline fields">
            <div class="field">
                <div class="ui icon input">
                    <input [(ngModel)]="searchKey" type="text" placeholder="hľadať...">
                    <i class="search icon"></i>
                </div>
            </div>
            <!--
            <div class="field" style="width: 300px;">
                <div class="ui fluid multiple search selection dropdown">
                    <input type="hidden" name="country">
                    <i class="dropdown icon"></i>
                    <div class="default text">Kľúčové slovo</div>
                    <div class="menu">
                    </div>
                </div>
            </div>
            -->
            <label>Zvýrazňovať:</label>
            <div *ngFor="let item of highlightTypes" class="field">
                <div class="ui radio checkbox" *ngIf="item.visible">
                    <input type="radio"
                           name="highlight"
                           title="showMeat"
                           id="radio-{{item.value}}"
                           [value]="item"
                           [(ngModel)]="highlight"
                           checked="checked">
                    <label for="radio-{{item.value}}">{{item.value}}</label>
                </div>
            </div>
        </div>
    </div>
    <div id="foodContent">
        <div *ngFor="let restaurant of restaurants" style="margin-top: 20px;">
            <div *ngIf="restaurant.visible">
                <h3>{{restaurant.name}}</h3>
                <table class="ui celled table">
                    <tbody>
                    <tr *ngFor="let menu of dailyMenus[restaurant.key] | searchPipe: searchKey">
                        <td>
                            <div
                                [ngClass]="{'ui': isBold(menu.dish.name), 'ribbon': isBold(menu.dish.name), 'label': isBold(menu.dish.name)}">
                                <span [ngClass]="{highlighted: isHighlighted(menu.dish.name)}"
                                      [innerHTML]="menu.dish.name"></span>
                            </div>
                        </td>
                        <td>{{menu.dish.price}}</td>
                    </tr>
                    <tr *ngIf="!dailyMenus[restaurant.key] || dailyMenus[restaurant.key].length === 0">
                        <td colspan="2">Neboli nájdené žiadne výsledky</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h3>bigger</h3>
    <iframe id="biggerRest" src="http://bigger.sk/menu/"></iframe>
    <app-restaurant-selector></app-restaurant-selector>
</div>
