@import "variables";

.boldFont {
    font-weight: bold;
}

.ui.modal.maps {
    //width: 90%;
    height: 90%;
}

frame {
    border: 0;
}

.pusher {
    padding: 40px;
    margin-top: 60px;
    @media only screen and (max-width: $breakpoint-tablet) {
        padding: 18px;
        margin-top: 40px;
    }
}
