@import "variables";

.fds-input {
    margin: 0;
    max-width: 100%;
    flex: 1 0 auto;
    position: relative;
    outline: 0;
    text-align: left;
    line-height: $input-height;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: $input-padding 1em;
    background: #fff;
    border: 1px solid rgba($primary-color, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    transition: box-shadow .1s ease, border-color .1s ease;
    box-shadow: none;

    &::placeholder {
        color: rgba(0, 0, 0, .37);
    }

    &:active {
        border-color: rgba(0, 0, 0, .3);
        background: #fafafa;
        color: rgba(0, 0, 0, .87);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &:focus {
        border-color: $primary-color;
        background: #fff;
        color: rgba(0, 0, 0, .8);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &:disabled {
        opacity: .45;
    }
}

.selectbox {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .selected-value {
        cursor: pointer;
        @extend .fds-input;
    }

    .label {
        padding: 0 $input-padding/2;
    }

    .select {
        @extend .fds-input;
        padding: $input-padding/2 0;
        position: absolute;
        top: 100%;
        width: 100%;
        right: 0;
        max-height: 200px;
        overflow-y: auto;

        .option {
            cursor: pointer;
            padding: $input-padding/2 1em;

            &.focused {
                background: $primary-color-hover;
            }
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
