<div class="profile">
    <div *ngIf="authService.user$ | async as user; else: loginPage" class="login">
        <img (click)="open()" [src]="user.photoURL" alt="Avatar picture">
        <div (mouseleave)="close()" [class.open]="menuOpen" class="profile-menu">
            <strong>{{user.displayName}}</strong>

            <div class="ui fluid selection dropdown language profile">
                <input [value]="appService.getConfig('language')"
                       name="country"
                       type="hidden">
                <div class="default text"></div>
                <div class="menu">
                    <div *ngFor="let language of languages"
                         [attr.data-value]="language.key"
                         class="item">
                        <i class="{{language.icon}} flag"></i>
                        {{language.name}}
                    </div>
                </div>
            </div>
            <button (click)="authService.signOut()" class="ui primary button">{{'logout' | translate}}</button>
        </div>
    </div>

    <ng-template #loginPage>
        <img (click)="open()" alt="Avatar picture"
             src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png">
        <div (mouseleave)="close()" [class.open]="menuOpen" class="profile-menu">
            <button (click)="authService.githubSigning()" class="ui primary button">Github</button>
            <button (click)="authService.googleSigning()" class="ui primary button">Google</button>
        </div>
    </ng-template>
</div>
