<h2 [class.inverted]="appService.getConfig('inverted')"
    class="ui {{appService.getConfig('selectedColor')}} header">{{'restaurantSelection.title' | translate}}</h2>
<h5 *ngIf="!(authService.user$ | async)">{{'restaurantSelection.needLoginForPersistence' | translate}}</h5>
<div class="restaurant-selector-wrapper">
    <div class="example-container">
        <h4 [class.inverted]="appService.getConfig('inverted')"
            class="ui {{appService.getConfig('selectedColor')}} header">{{'restaurantSelection.all' | translate}}</h4>

        <fds-input #searchModel="ngModel"
                   class="search-input"
                   fullWidth="true"
                   [placeholder]="'search' | translate"
                   icon="search"
                   iconAlign="right"
                   ngModel></fds-input>
        <div #todoList="cdkDropList"
             (cdkDropListDropped)="drop($event)"
             [cdkDropListConnectedTo]="[doneList]"
             [cdkDropListData]="restaurants | searchRestaurantPipe: searchModel.value"
             cdkDropList
             cdkDropListSortingDisabled
             class="example-list">
            <fds-restaurant-selector-row
                *ngFor="let restaurant of restaurants | searchRestaurantPipe: searchModel.value"
                [restaurant]="restaurant"
                cdkDrag
                cdkDragBoundary=".restaurant-selector-wrapper">
                <i cdkDragHandle class="arrows alternate icon"></i>
            </fds-restaurant-selector-row>
        </div>
    </div>

    <div class="example-container">
        <h4 [class.inverted]="appService.getConfig('inverted')"
            class="ui {{appService.getConfig('selectedColor')}} header">{{'restaurantSelection.selected' | translate}}</h4>


        <div #doneList="cdkDropList"
             (cdkDropListDropped)="drop($event)"
             [cdkDropListConnectedTo]="[todoList]"
             [cdkDropListData]="selectedRestaurants"
             cdkDropList
             class="example-list"
             style="max-height: calc(100vh - 94px);">
            <div *ngIf="selectedRestaurants.length === 0" style="padding: .8em .5em;">
                {{'restaurantSelection.chooseRestaurants' | translate}}
            </div>
            <fds-restaurant-selector-row *ngFor="let restaurant of selectedRestaurants"
                                         [restaurant]="restaurant"
                                         cdkDrag
                                         cdkDragBoundary=".restaurant-selector-wrapper">
                <i cdkDragHandle class="arrows alternate icon"></i>
            </fds-restaurant-selector-row>
        </div>
    </div>
</div>
