<tr *ngIf="dish; else: noDish" [class.active]="isHighlighted(dish)">
    <td>
        <fds-food-row-name [dish]="dish" [restaurant]="restaurant"></fds-food-row-name>
    </td>
    <td class="right aligned">
        <fds-food-row-likes *ngIf="!foodService.isBold(dish)" [dish]="dish"
                            [restaurant]="restaurant"></fds-food-row-likes>
    </td>
    <td *ngIf="appService.showPrice" class="right aligned">{{dish.price}}</td>
</tr>
<ng-template #noDish>
    <tr>
        <td colspan="2">Filtru nevyhovujú žiadne výsledky</td>
    </tr>
</ng-template>
