<tr *ngIf="dish; else: noDish"  [ngClass]="{positive: isHighlighted(dish)}">
    <td>
        <app-food-row-name [dish]="dish" [restaurant]="restaurant"></app-food-row-name>
    </td>
    <td>
        <app-food-row-likes *ngIf="!foodService.isBold(dish)" [dish]="dish" [restaurant]="restaurant"></app-food-row-likes>
    </td>
    <td *ngIf="appService.showPrice">{{dish.price}}</td>
</tr>
<ng-template #noDish>
    <tr>
        <td colspan="2">Filtru nevyhovujú žiadne výsledky</td>
    </tr>
</ng-template>
