<div id="sideNav" class="hidden unselectable" #wrapper>
    <div class="content">
        <div class="container">
            <div>
                <h4 class="ui {{appService.selectedColor}} header"
                    [ngClass]="{'inverted': appService.inverted}">Všetky reštaurácie</h4>
                <div class="field">
                    <div class="ui mini icon input"
                         [ngClass]="{'inverted': appService.inverted}">
                        <input [(ngModel)]="searchKey" type="text" placeholder="hľadať...">
                        <i class="search icon"></i>
                    </div>
                </div>
                <ul id="list-1" class="sortable">
                    <ng-container *ngFor="let restaurant of restaurants | searchRestaurantPipe: searchKey">
                        <li *ngIf="!restaurant.visible"
                            [ngClass]="{'strong': !restaurant.menuLink}"
                            title="{{restaurant.key}}">
                            {{restaurant.name}}
                        </li>
                    </ng-container>
                </ul>
                <button id="sbtn-1" type="button" style="display: none;">Serialize</button>
            </div>

            <div>
                <h4 class="ui {{appService.selectedColor}} header"
                    [ngClass]="{'inverted': appService.inverted}">Zvolené reštaurácie</h4>
                <div class="field" style="visibility: hidden">
                    <div class="ui mini icon input"
                         [ngClass]="{'inverted': appService.inverted}">
                        <input [(ngModel)]="searchKey" type="text" placeholder="hľadať...">
                        <i class="search icon"></i>
                    </div>
                </div>
                <ul id="list-2" class="sortable">
                    <li *ngFor="let restaurant of selectedRestaurants"
                        [ngClass]="{'strong': !restaurant.menuLink}"
                        title="{{restaurant.key}}">
                        {{restaurant.name}}
                    </li>
                </ul>
                <button id="sbtn-2"
                        class="ui button {{appService.selectedColor}}"
                        style="display: block"
                        [ngClass]="{'inverted': appService.inverted}">
                    Uložiť
                </button>

                <small style="display: none;">
                    *Obedové menu reštaurácií ktoré nie sú zvýraznené sa zobrazia len v iframe
                </small>
            </div>

        </div>
    </div>
    <div class="opener" (click)="toggleSidebar()"></div>
</div>
