$avatar-size: 32px;
$border-width: 1px;
$border-color: rgba(0, 0, 0, 0.4);
$background-color: white;
.feedback {
    position: relative;
    left: 0;
    display: inline-block;
    label {
        text-align: left;
        cursor: pointer;
    }
    img {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
        }
    }

    .feedback-panel {
        max-height: calc(100vh - 50px);
        display: flex;
        overflow-y: auto;
        position: fixed;
        right: 0;
        background: $background-color;
        border: $border-width solid $border-color;
        border-radius: 3px;
        padding: 1em;
        min-width: 300px;
        min-height: 200px;
        bottom: 0;
        transform: translateX(100%);

        & > *:not(:last-child) {
            margin-bottom: 1em;
        }

        //display: flex;
        flex-direction: column;
        justify-content: end;
        transition: all 0.3s;
        &.open {
            transform: translateX(0);
        }

    }
}
