<h3 *ngIf="restaurant"
    [attr.restaurant-zomato-id]="restaurant.zomatoId"
    [class.inverted]="appService.getConfig('inverted')"
    class="ui {{appService.getConfig('selectedColor')}} header">{{restaurant.name}}
    <small
        *ngIf="appService.getConfig('showDistance') && restaurant.address && (getLocationService.coordinates | async)">
        {{restaurantService.getDistance(restaurant.address) + ('fromYou' | translate)}}
        <ng-container *ngIf="restaurant.zomatoId">
            {{"| " + ('totallyLikes' | translate:{likes: ratingService.getTotalLikes(restaurant)})}}
            ({{restaurantService.getLikedPersons(restaurant)}})
        </ng-container>
    </small>
    <i (click)="showMap(restaurant)"
       *ngIf="restaurant.address"
       class="map icon"
       title="{{'showMap' | translate}}"></i>

    <i (click)="restaurantService.openHomepage(restaurant)"
       *ngIf="restaurant.homepage"
       class="home icon"
       title="{{'showHomepage' | translate}}">
    </i>

</h3>

