<h3 *ngIf="restaurant"
    [attr.restaurant-id]="restaurant.zomatoName"
    [class.inverted]="appService.getConfig('inverted')"
    class="ui {{appService.getConfig('selectedColor')}} header">{{restaurant.name}}
    <small
        *ngIf="appService.getConfig('showDistance') && restaurant.address && (getLocationService.coordinates | async) as myCoords"
        style="font-size: x-small;">
        {{restaurantService.getDistance(restaurant.address) + ('fromYou' | translate)}}
        <ng-container *ngIf="restaurant.zomatoName">
            {{"| " + ('totallyLikes' | translate:{likes: ratingService.getTotalLikes(restaurant)})}}
            ({{restaurantService.getLikedPersons(restaurant)}})
        </ng-container>
    </small>
    <i (click)="showMap(restaurant)"
       *ngIf="restaurant.address"
       class="mini map icon"
       style="display: inline-block; margin-left: 0.2em; cursor: pointer"
       title="{{'showMap' | translate}}"></i>

    <i (click)="openHomepage(restaurant)"
       *ngIf="restaurant.homepage"
       class="mini home icon"
       style="display: inline-block; margin-left: 0.2em; cursor: pointer"
       title="{{'showHomepage' | translate}}">
    </i>

</h3>

