
<div class="profile">

    <div *ngIf="authService.user$ | async as user; else: loginPage" class="login">
        <img (click)="menuOpen = true" [src]="user.photoURL" alt="Avatar picture">
        <div class="profile-menu" (mouseleave)="menuOpen = false" [ngClass]="{open: menuOpen}">
            <span>name: <strong>{{user.displayName}}</strong></span>
            <button (click)="authService.signOut()">Odhlásiť</button>
        </div>

    </div>

    <ng-template #loginPage>
        <img (click)="menuOpen = true" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="Avatar picture">
        <div class="profile-menu" (mouseleave)="menuOpen = false" [ngClass]="{open: menuOpen}">
            <button (click)="authService.facebookSigning()">Prhlásiť cez facebook</button>
            <button (click)="authService.githubSigning()">Prhlásiť cez github</button>
            <button (click)="authService.googleSigning()">Prhlásiť cez google</button>
        </div>
    </ng-template>
</div>
