<div *ngIf="authService.user$ | async as user; else: loginPage" class="login">
    <strong>{{user.displayName}}</strong>

    <div class="ui fluid selection dropdown language profile">
        <input [value]="appService.getConfig('language')"
               name="country"
               type="hidden">
        <div class="default text"></div>
        <div class="menu">
            <div *ngFor="let language of languages"
                 [attr.data-value]="language.key"
                 class="item">
                <i class="{{language.icon}} flag"></i>
                {{language.name}}
            </div>
        </div>
    </div>
    <fds-button (click)="authService.signOut()"
                [class.inverted]="appService.getConfig('inverted')"
                class="search-input"
                [value]="'logout' | translate"></fds-button>
</div>

<ng-template #loginPage>
    <!--        <i class="material-icons" (click)="open()" >-->
    <!--            account_circle-->
    <!--        </i>-->
    <fds-button (click)="authService.githubSigning()"
                id="profile-panel-login-github"
                [class.inverted]="appService.getConfig('inverted')"
                value="Github"></fds-button>
    <fds-button (click)="authService.googleSigning()"
                id="profile-panel-login-google"
                [class.inverted]="appService.getConfig('inverted')"
                value="Google"></fds-button>
</ng-template>
