$breakpoint-tablet: 768px;
$breakpoint-mobile: 460px;

$primary-color: #cc9900;
$primary-color-hover: #cca633;
$primary-color-active: #997200;
$font-color: #fafafa;







// DEFAULT VARIABLES
$primary-color: rgb(255, 255, 255) !default;
$primary-color-hover: #f8f8f8 !default;
$primary-color-active: #e2e2e2 !default;
$font-color: #111111 !default;
