<div *ngIf="hasBackdrop"
     class="backdrop"
     (click)="isShowingBackdrop && onBackdropClicked()"
     [class.visible]="isShowingBackdrop"></div>

<nav [class.visible]="visible" [ngStyle]="{'width.px': menuWidth}">
    <ng-content select="app-menu-drawer"></ng-content>
</nav>
<div class="content" [ngStyle]="visible && {'margin-left.px': menuType === 'moving' ? menuWidth : 0, filter: realFilter}">
    <ng-content select="app-menu-content"></ng-content>
</div>
<!-- if content is not present, then add default content-->
<app-menu-drawer *ngIf="!content">
    <ng-content></ng-content>
</app-menu-drawer>
