<!--
<a class="item opener restaurants">
    <i class="material-icons">
        menu
    </i>
</a>
<a *ngIf="authService.user$ | async" class="item opener options">
    <i class="material-icons">
        settings_applications
    </i>
</a>
<div class="item">
    <fds-input [(ngModel)]="searchKey"
               [class.inverted]="appService.getConfig('inverted')"
               [placeholder]="'search' | translate"
               icon="search"
               class="search-input"
               iconAlign="right"></fds-input>
</div>

<div class="divider"></div>

<a *ngIf="!authService.isLoading"
   (click)="profileMenu.close(); openHighlighter = !openHighlighter"
   class="item">
    <i *ngIf="highlight.key !== 'none'" class="material-icons" title="Je zvýraznená kategória jedla">
        warning
    </i>
    {{'categories' | translate}}
</a>

<a *ngIf="authService.user$ | async as user" class="item" [class.hidden]="false">
    <i class="material-icons">
        feedback
    </i>
    <div (click)="feedbackPanelComponent.toggle(); profileMenu.close(); openHighlighter=false;" style="position: absolute; width: 100%; height: 100%"></div>
    <fds-feedback-panel #feedbackPanelComponent [user]="user"></fds-feedback-panel>
</a>

<div class="item">
    <div *ngIf="authService.isLoading" class="ui active centered inline loader"></div>
    <fds-profile-menu #profileMenu
                      (onOpen)="openHighlighter=false;"
                      [class.hidden]="authService.isLoading"></fds-profile-menu>
</div>
-->
